Repository googleapis/java-bigquerystorage, pull requests merged in 2021-10, with the labels that each got.

#1340 chore: remove dependencyDashboardLabel config from renovate.json
  renovate.json
Labels: cla: yes, automerge, api: bigquerystorage

#1345 fix: add string to DATETIME, TIME, NUMERIC, BIGNUMERIC support in JsonStreamWriter v1
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessage.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriterTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessageTest.java
Labels: cla: yes, api: bigquerystorage

#1338 docs(samples): Add WriteAPI BUFFERED mode sample
  README.md
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteBufferedStream.java
  samples/snippets/src/test/java/com/example/bigquerystorage/WriteBufferedStreamIT.java
Labels: cla: yes, api: bigquerystorage, samples

#1351 feat: Add INTERVAL and JSON type support to JsonStreamWriter
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/BQTableSchemaToProtoDescriptor.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1beta2/BQTableSchemaToProtoDescriptor.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/BQTableSchemaToProtoDescriptorTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessageTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1beta2/BQTableSchemaToProtoDescriptorTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1beta2/JsonToProtoMessageTest.java
  google-cloud-bigquerystorage/src/test/proto/jsonTest.proto
Labels: cla: yes, api: bigquerystorage

#1364 docs(samples): Update WriteAPI samples to v1
  samples/snippets/src/main/java/com/example/bigquerystorage/BqToBqStorageSchemaConverter.java
  samples/snippets/src/main/java/com/example/bigquerystorage/ParallelWriteCommittedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteBufferedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteCommittedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WritePendingStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteToDefaultStream.java
Labels: cla: yes, api: bigquerystorage, samples
