Repository googleapis/java-bigquerystorage, pull requests merged in 2022-10, with the labels that each got.

#1813 fix: return row-level error information via an AppendSerializtionError
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
Labels: api: bigquerystorage, size: m

#1816 chore(deps): revert dependency com.google.cloud:google-cloud-shared-dependencies to v3.0.4
  pom.xml
Labels: automerge, api: bigquerystorage, size: xs

#1822 fix: breaking change to continue supporting users who may be
  google-cloud-bigquerystorage/clirr-ignored-differences.xml
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/Exceptions.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
  google-cloud-bigquerystorage/src/test/proto/test.proto
Labels: kokoro:run, api: bigquerystorage, size: m

#1832 chore: fix owlbot.yaml
  .github/.OwlBot.yaml
Labels: api: bigquerystorage, size: xs

#1835 feat: add getInflightWaitSeconds implementation
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerPool.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: m

#1842 fix: remove the client lib header setting since after router migration, it is no longer needed
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
Labels: api: bigquerystorage, size: s

#1844 fix(java): restore native image configurations
  .github/.OwlBot.yaml
  .kokoro/build.sh
  google-cloud-bigquerystorage/src/main/resources/META-INF/native-image/com.google.cloud/google-cloud-bigquerystorage/reflect-config.json
Labels: automerge, api: bigquerystorage, size: s

#1850 fix: remove applying header for multiplexing client and add a unit test for multiplexing with different location
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerPool.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
Labels: kokoro:force-run, kokoro:run, api: bigquerystorage, size: m

#1856 deps: revert dependency upgrade for protobuf to v3.20.2 (#1659)
  .github/.OwlBot.lock.yaml
  .kokoro/requirements.txt
Labels: automerge, api: bigquerystorage, size: m
