Repository googleapis/java-bigquerystorage, pull requests merged in 2022-12, with the labels that each got.

#1899 fix: Add back the accidentally removed background executor provider
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
Labels: api: bigquerystorage, size: xs

#1902 fix: update JsonStreamWriterBuilder comment and update sample to use the latest schema retrieval support
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteToDefaultStream.java
Labels: api: bigquerystorage, samples, size: s

#1907 chore: remove duplicate protobuf-java dependency
  google-cloud-bigquerystorage/pom.xml
Labels: api: bigquerystorage, size: xs

#1903 feat: throw error when using connection pool for explicit stream
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriterTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: m
