Repository googleapis/java-bigquerystorage, pull requests merged in 2023-10, with the labels that each got.

#2243 feat: Add in-stream retry logic for retryable and quota errors
  README.md
  google-cloud-bigquerystorage/clirr-ignored-differences.xml
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerPool.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/SchemaAwareStreamWriter.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/FakeBigQueryWrite.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/FakeBigQueryWriteImpl.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: l

#2268 build: do not declare javadoc plugin version
  pom.xml
Labels: api: bigquerystorage, size: xs

#2269 deps: bumping google-cloud-shared-config to v1.5.8
  google-cloud-bigquerystorage-bom/pom.xml
  google-cloud-bigquerystorage/pom.xml
  pom.xml
Labels: api: bigquerystorage, size: xs

#2285 test: Add e2e test for default value use cases for default stream and exclusive stream
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
Labels: api: bigquerystorage, size: m

#2295 feat: add support for proto3 optional tag
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ProtoSchemaConverter.java
Labels: api: bigquerystorage, size: s

#2298 test: add e2e test to verify proto3 optional tag works
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
  google-cloud-bigquerystorage/src/test/proto/optionalTest.proto
  pom.xml
Labels: api: bigquerystorage, size: m
