Repository googleapis/java-bigquerystorage, pull requests merged in 2023-05, with the labels that each got.

#2085 refactor: Json to proto message refactoring
  README.md
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessage.java
Labels: api: bigquerystorage, size: m

#2104 feat: Adding setting KeepAlive to JsonWriter sample
  README.md
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteToDefaultStream.java
Labels: api: bigquerystorage, samples, size: s

#2107 chore(deps): update ghcr.io/graalvm/graalvm-ce docker tag to v22.3.2
  .kokoro/continuous/graalvm-native-17.cfg
  .kokoro/continuous/graalvm-native.cfg
Labels: automerge, api: bigquerystorage, size: xs

#2122 fix: bug fix for streamWriter & jsonStreamWriter
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/SchemaAwareStreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriterTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
Labels: api: bigquerystorage, size: m

#2096 fix: pass the parameter value of enableConnectionPool instead of true always
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
Labels: automerge, api: bigquerystorage, size: xs
