Repository googleapis/java-bigquerystorage, pull requests merged in 2023-04, with the labels that each got.

#2057 feat: Add sample about processing permanent writer failure
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteToDefaultStream.java
Labels: kokoro:run, api: bigquerystorage, samples, size: s

#2048 feat: add schema aware stream writer
  README.md
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/Exceptions.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessage.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/SchemaAwareStreamWriter.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ToProtoConverter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriterTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessageTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1beta2/JsonToProtoMessageTest.java
Labels: api: bigquerystorage, size: xl

#2072 feat: Adding ExecutorProvider support while creating BigQueryReadClient
  README.md
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/stub/EnhancedBigQueryReadStub.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryStorageTest.java
Labels: api: bigquerystorage, size: m

#2047 sample: update WriteCommittedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteCommittedStream.java
Labels: automerge, api: bigquerystorage, samples, size: xs

#2084 fix: Reduce timeout of waiting in queue from 15 minutes to 5 minutes and rephrase the log a bit
  README.md
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
Labels: api: bigquerystorage, size: xs

#2088 fix: remove teh 30 minutes wait trying to refresh schema. Customers s…
  README.md
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/SchemaAwareStreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriterTest.java
Labels: api: bigquerystorage, size: s
