Repository googleapis/java-bigquerystorage, pull requests merged in 2023-03, with the labels that each got.

#2017 fix: add client shutdown if request waiting in request queue for too long.
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerTest.java
Labels: api: bigquerystorage, size: m

#2021 fix: remove write_location header pending discussion
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
Labels: api: bigquerystorage, size: xs

#2031 fix(bigdecimal): Convert BigDecimal to BigNumeric instead of Numeric
  README.md
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessage.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessageTest.java
Labels: automerge, api: bigquerystorage, size: s

#2035 feat: add routing header for multiplexed connection
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerTest.java
Labels: api: bigquerystorage, size: s
