Repository googleapis/java-bigquerystorage, pull requests merged in 2024-08, with the labels that each got.

#2592 chore: restore RequestProfilerTest.java that was mistakenly deleted
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/RequestProfilerTest.java
Labels: automerge, api: bigquerystorage, size: m

#2598 chore: remove integration tests for the deprecated v1beta2 write
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1beta2/it/ITBigQueryBigDecimalByteStringEncoderTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1beta2/it/ITBigQueryTimeEncoderTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1beta2/it/ITBigQueryWriteManualClientTest.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteBufferedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WritePendingStream.java
Labels: api: bigquerystorage, size: l

#2606 chore: move open telemetry instrumentation to separate source file
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/Singletons.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/TelemetryMetrics.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: l

#2611 chore: update owlbot config: deep-preserve-regex to include TelemetryMetrics.java
  .github/.OwlBot-hermetic.yaml
Labels: api: bigquerystorage, size: xs

#2600 fix: github workflow vulnerable to script injection
  .github/workflows/hermetic_library_generation.yaml
Labels: automerge, api: bigquerystorage, size: s

#2625 chore: Update to use Protobuf 3.25.4
  pom.xml
Labels: api: bigquerystorage, size: xs

#2573 chore: demonstrate exporting OpenTelemetry logs to Google Cloud
  README.md
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/bigquerystorage/ExportOpenTelemetry.java
  samples/snippets/src/test/java/com/example/bigquerystorage/ExportOpenTelemetryIT.java
Labels: api: bigquerystorage, size: l
