Repository googleapis/java-bigquerystorage, pull requests merged in 2024-12, with the labels that each got.

#2784 pschnayder: Updating the StreamWriterClosedException to include client side mitigation suggestions from the public documentation
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
Labels: kokoro:force-run, kokoro:run, api: bigquerystorage, size: s

#2789 feat: add support for byte and short in JSONStreamWriter
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessage.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonToProtoMessageTest.java
Labels: api: bigquerystorage, size: m

#2812 deps: update dependency com.google.cloud:google-cloud-bigquery to v2.45.0
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/it/ITBigQueryWriteManualClientTest.java
  pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: bigquerystorage, size: s
