Repository googleapis/java-bigquerystorage, pull requests merged in 2024-10, with the labels that each got.

#2681 build: update samples/stylecheck to use java 11
  .github/workflows/samples.yaml
Labels: api: bigquerystorage, samples, size: xs

#2679 chore: remove auth dependencies version and rely on sdk-platform-java-config
  google-cloud-bigquerystorage/pom.xml
Labels: api: bigquerystorage, size: xs

#2699 fix: add stream name to every request when connection is created during multiplexing
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerPool.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerTest.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: m

#2702 test: validate environment variable INTEGRATION_TEST_ARGS
  .kokoro/continuous/graalvm-native-17.cfg
  .kokoro/continuous/graalvm-native.cfg
  README.md
Labels: api: bigquerystorage, size: s

#2706 chore: setup renovate to update action
  renovate.json
Labels: api: bigquerystorage, size: s

#2710 chore: Create .readme-partials.yaml
  .readme-partials.yaml
  README.md
Labels: api: bigquerystorage, size: m

#2718 chore(dep): stop declaring org.apache.arrow dep
  google-cloud-bigquerystorage/pom.xml
Labels: api: bigquerystorage, size: xs

#2732 fix: update BigQuerySchemaUtil to use non-deprecated hasExtension
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/BigQuerySchemaUtil.java
Labels: api: bigquerystorage, size: s

#2743 fix: BQTableSchemaToProtoDescriptor setting of FieldOption.
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/BQTableSchemaToProtoDescriptor.java
Labels: kokoro:force-run, kokoro:run, api: bigquerystorage, size: s
