Repository googleapis/java-bigquerystorage, pull requests merged in 2024-03, with the labels that each got.

#2420 chore: next release from main branch is 2.48.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: bigquerystorage, size: s

#2432 Fix: accept default stream name
  README.md
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/Exceptions.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/SchemaAwareStreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriterTest.java
Labels: api: bigquerystorage, size: s

#2441 chore: demonstrate how to handle an inflight request timeout exception
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteToDefaultStream.java
Labels: api: bigquerystorage, size: m

#2447 fix: add version id to the client lib header
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
Labels: kokoro:run, api: bigquerystorage, size: s

#2445 fix: shutdown stream connection when timeout exception occurs
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/ConnectionWorkerTest.java
Labels: api: bigquerystorage, size: s

#2444 feat: provide the default stream name
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: s

#2454 chore: update renovate config
  .github/workflows/unmanaged_dependency_check.yaml
  README.md
  renovate.json
Labels: api: bigquerystorage, size: s

#2456 ci: adding cloud build file
  .cloudbuild/samples_build.yaml
Labels: api: bigquerystorage, size: s
