Repository googleapis/java-bigquerystorage, pull requests merged in 2024-02, with the labels that each got.

#2388 fix: split connection pool based on credential
  google-cloud-bigquerystorage/pom.xml
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/StreamWriter.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: m

#2401 feat: introduce MaximumRequestCallbackWaitTimeExceededException
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/ConnectionWorker.java
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/Exceptions.java
  google-cloud-bigquerystorage/src/test/java/com/google/cloud/bigquery/storage/v1/StreamWriterTest.java
Labels: api: bigquerystorage, size: s

#2408 chore: use sdk-platform-java-config to consolidate build configs
  .kokoro/continuous/graalvm-native-17.cfg
  .kokoro/continuous/graalvm-native.cfg
  google-cloud-bigquerystorage-bom/pom.xml
  pom.xml
  renovate.json
Labels: api: bigquerystorage, size: s

#2357 chore: Update ci.yaml to setup Java 21 unit tests
  .github/workflows/ci.yaml
Labels: api: bigquerystorage, size: xs

#2419 feat: Add RetrySettings use to Write API samples.
  google-cloud-bigquerystorage/src/main/java/com/google/cloud/bigquery/storage/v1/JsonStreamWriter.java
  samples/snippets/src/main/java/com/example/bigquerystorage/JsonWriterStreamCdc.java
  samples/snippets/src/main/java/com/example/bigquerystorage/ParallelWriteCommittedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteBufferedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteCommittedStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WritePendingStream.java
  samples/snippets/src/main/java/com/example/bigquerystorage/WriteToDefaultStream.java
Labels: api: bigquerystorage, samples, size: m
